<ion-content [fullscreen]="true" class="ion-padding">
  <div class="menu-header">
    <div class="icon-circle" (click)="modalDismiss()">
      <ion-icon name="home" style="color: white"></ion-icon>
    </div>
  </div>
  <div class="app-menu-layout">
    <div class="header-section"></div>
    <div class="content-section">
      <div style="background-color: aqua; min-height: 150px;">
        <div class="viaje-badge">
          <p>{{'HOME.COLOMBIA' | translate}}</p>
        </div>
        <div class="info-container">
          <img
            src="../../../../assets/dashboard/icons/colombia.png"
            style="width: 70px; margin-left: 10px"
          />
        </div>
      </div>
      <div class="scrollable-content">
        <div
          class="description-container"
          [innerHTML]="country.description"
        ></div>
      </div>
    </div>
    <div class="footer-section"></div>
  </div>
</ion-content>
