<div class="app-menu-layout">
  <div class="menu-header">
    <div
      style="display: flex; flex-direction: row; align-items: center; gap: 8px"
    >
      <img
        [src]="user.image"
        alt="USER PHOTO"
        style="
          height: 36px;
          width: 40px;
          border-radius: 50%;
          border: 1px solid white;
        "
      />
      <p>{{user.name}}</p>
    </div>
    <div class="icon-circle">
      <ion-icon name="home" style="color: white"></ion-icon>
    </div>
  </div>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</div>
