<ion-content [fullscreen]="true">
  <img
    class="logo-img"
    src="../../../assets/login/texto/logo.png"
    alt="Loreal Logo"
  />
  <div class="login-container">
    <img
      class="main-text"
      src="../../../assets/login/texto/main-text.png"
      alt="Main Text"
    />
    <div style="display: flex; gap: 16px; margin-top: 16px">
      <img
        src="../../../assets/login/img/i_usa.png"
        alt="USA Flag"
        (click)="setLang('en')"
      />
      <img
        src="../../../assets/login/img/i_spain.png"
        alt="Spain Flag"
        (click)="setLang('es')"
      />
    </div>
    <div class="btn-container">
      <ion-button class="login-btn" expand="block" (click)="goToLogin()">
        {{'AUTH.HOME.LOGIN' | translate}}
      </ion-button>
      <ion-button class="login-btn" expand="block" (click)="openRegister()">
        {{'AUTH.HOME.REGISTER' | translate}}
      </ion-button>
    </div>
    <div class="sponsor-container">
      <p>{{'AUTH.LOGIN.SPONSOR' | translate}}</p>
      <div class="sponsor-row">
        <img
          src="../../../assets/login/auspicios/auspicio_1.png"
          alt="Auspicio 1"
        />
        <img
          src="../../../assets/login/auspicios/auspicio_2.png"
          alt="Auspicio 2"
        />
        <img
          src="../../../assets/login/auspicios/auspicio_3.png"
          alt="Auspicio 3"
        />
        <img
          src="../../../assets/login/auspicios/auspicio_4.png"
          alt="Auspicio 4"
        />
      </div>
      <div class="sponsor-row">
        <img
          src="../../../assets/login/auspicios/auspicio_5.png"
          alt="Auspicio 5"
        />
        <img
          src="../../../assets/login/auspicios/auspicio_6.png"
          alt="Auspicio 6"
        />
        <img
          src="../../../assets/login/auspicios/auspicio_7.png"
          alt="Auspicio 7"
        />
        <img
          src="../../../assets/login/auspicios/auspicio_8.png"
          alt="Auspicio 8"
        />
      </div>
    </div>
  </div>
</ion-content>
