.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text {
  margin-top: 16px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 300px;
}
.login-btn {
  color: white;
  font-weight: 600;
  --background: #48c4ff;
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 0;
  --padding-end: 0;
}
.sponsor-container {
  width: 100%;
  padding: 30px 20px;
  & p {
    font-weight: 600;
    color: black;
  }
  & .sponsor-row:nth-child(3) {
    margin-top: 12px;
  }
}

.sponsor-row {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 12px;
}

.sponsor-row img {
  width: 60px;
  height: auto;
  object-fit: contain;
}
