<ion-content [fullscreen]="true">
  <img
    class="logo-img"
    src="../../../assets/login/texto/logo.png"
    alt="Loreal Logo"
  />
  <div class="login-container">
    <img
      class="main-text"
      src="../../../assets/login/texto/main-text.png"
      alt="Main Text"
    />
    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-input
          type="email"
          [label]="'AUTH.LOGIN.EMAIL' | translate"
          labelPlacement="floating"
          [placeholder]="'AUTH.LOGIN.EMAIL' | translate"
          fill="outline"
          email
          errorText="Email inválido"
          formControlName="email"
        ></ion-input>
        <ion-input
          type="password"
          [label]="'AUTH.LOGIN.PASSWORD' | translate"
          labelPlacement="floating"
          [placeholder]="'AUTH.LOGIN.PASSWORD' | translate"
          errorText="Ingrese una contraseña válida"
          fill="outline"
          formControlName="password"
        ></ion-input>
        <div class="btn-container">
          <ion-button class="login-btn" expand="block" type="submit">
            {{'AUTH.LOGIN.LOGIN' | translate}}
          </ion-button>
          <ion-button class="login-btn" expand="block">
            {{'AUTH.LOGIN.BACK' | translate}}
          </ion-button>
          <ion-nav-link class="label-forget-password"
            >{{'AUTH.LOGIN.FORGOT_PASSWORD' | translate}}</ion-nav-link
          >
        </div>
      </form>
    </div>
  </div>
</ion-content>
