<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{speaker.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="close" color="white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: center; padding: 20px">
    <img
      [src]="speaker.image"
      [alt]="speaker.name"
      style="max-width: 100%; height: auto"
    />
  </div>
  <p class="ion-padding" style="font-size:0.9rem; ">{{speaker.description}}</p>
</ion-content>
