ion-content {
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
  background: white;
  --background: white;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --background: transparent;
  margin-bottom: 8px;
}

.error-container {
  padding-left: 16px;
  margin-bottom: 16px;
}

.error-message {
  color: var(--ion-color-danger);
  font-size: 12px;
}

.form-actions {
  margin-top: 32px;
}

ion-button {
  height: 48px;
}