<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large"
      >{{'HOME.MENU.CHANGE_PASSWORD' | translate}}</ion-title
    >
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="modalDismiss()">
        <ion-icon slot="icon-only" name="close" color="white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <!-- Contraseña actual -->
    <ion-item>
      <ion-input
        class="ion-margin-top"
        labelPlacement="floating"
        fill="outline"
        [label]="'CHANGE_PASSWORD.LAST_PASSWORD'| translate"
        type="password"
        fill="outline"
        formControlName="oldPassword"
        required
      >
      </ion-input>
    </ion-item>
    <div
      class="error-container"
      *ngIf="oldPassword.invalid && oldPassword.touched"
    >
      <div class="error-message" *ngIf="oldPassword.errors?.['required']">
        {{'CHANGE_PASSWORD.ERROR.OLD_REQUIRED' | translate}}
      </div>
    </div>

    <!-- Nueva contraseña -->
    <ion-item>
      <ion-input
        class="ion-margin-top"
        labelPlacement="floating"
        fill="outline"
        [label]="'CHANGE_PASSWORD.NEW_PASSWORD' | translate"
        type="password"
        fill="outline"
        formControlName="newPassword"
        required
      >
      </ion-input>
    </ion-item>
    <div
      class="error-container"
      *ngIf="newPassword.invalid && newPassword.touched"
    >
      <div class="error-message" *ngIf="newPassword.errors?.['required']">
        {{'CHANGE_PASSWORD.ERROR.NEW_REQUIRED' | translate}}
      </div>
      <div class="error-message" *ngIf="newPassword.errors?.['minlength']">
        {{'CHANGE_PASSWORD.ERROR.MIN_LENGTH' | translate}}
      </div>
    </div>

    <!-- Confirmar contraseña -->
    <ion-item>
      <ion-input
        class="ion-margin-top"
        labelPlacement="floating"
        fill="outline"
        [label]="'CHANGE_PASSWORD.CONFIRM_PASSWORD' | translate"
        type="password"
        formControlName="confirmPassword"
        required
      >
      </ion-input>
    </ion-item>
    <div
      class="error-container"
      *ngIf="confirmPassword.invalid && confirmPassword.touched"
    >
      <div class="error-message" *ngIf="confirmPassword.errors?.['required']">
        {{'CHANGE_PASSWORD.ERROR.CONFIRM_REQUIRED' | translate}}
      </div>
    </div>
    <div
      class="error-container"
      *ngIf="changePasswordForm.errors?.['passwordMismatch'] && confirmPassword.touched"
    >
      <div class="error-message">
        {{'CHANGE_PASSWORD.ERROR.PASSWORDS_MATCH' | translate}}
      </div>
    </div>

    <!-- Botón de envío -->
    <div class="form-actions">
      <ion-button
        expand="block"
        type="submit"
        [disabled]="changePasswordForm.invalid || isSubmitting"
      >
        <ion-spinner *ngIf="isSubmitting" name="crescent"></ion-spinner>
        <span *ngIf="!isSubmitting"
          >{{'CHANGE_PASSWORD.SEND_BUTTON' | translate}}</span
        >
      </ion-button>
    </div>
  </form>
</ion-content>
