<ion-content [fullscreen]="true">
  <div class="menu-header">
    <div class="icon-circle" (click)="modalDismiss()">
      <ion-icon name="home" style="color: white"></ion-icon>
    </div>
  </div>
  <div class="app-menu-layout">
    <div class="header-section"></div>
    <div class="content-section">
      <div class="viaje-badge">
        <p>{{'HOME.CONNECTIVITY' | translate}}</p>
      </div>
      <div class="info-container">
        <img
          src="../../../../assets/dashboard/icons/wifi.png"
          style="width: 70px; margin-left: 10px"
        />
      </div>
      <div class="scrollable-content">
        <ion-list *ngIf="!isLoading">
          <ion-item
            lines="none"
            *ngFor="let recommendation of recommendations"
            class="recommendation-item"
          >
            <ion-label>
              <div class="name-row">
                <ion-icon name="star" color="black"></ion-icon>
                <h2>{{recommendation.name}}</h2>
              </div>

              <div class="details-column">
                <div class="detail-item" *ngIf="recommendation.web">
                  <ion-icon name="globe-outline"></ion-icon>
                  <span class="link-text" (click)="openUrl(recommendation.web)"
                    >{{recommendation.web}}</span
                  >
                </div>

                <div class="detail-item" *ngIf="recommendation.address">
                  <ion-icon name="location-outline"></ion-icon>
                  <span
                    class="link-text"
                    (click)="openMaps(recommendation.address)"
                    >{{recommendation.address}}</span
                  >
                </div>

                <div class="detail-item" *ngIf="recommendation.phone">
                  <ion-icon name="call-outline"></ion-icon>
                  <span
                    class="link-text"
                    (click)="makeCall(recommendation.phone)"
                    >{{recommendation.phone}}</span
                  >
                </div>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  <div class="whatsapp-button">
    <ion-icon name="logo-whatsapp"></ion-icon>
  </div>
</ion-content>
