<ion-content [fullscreen]="true">
  <div class="menu-header">
    <div class="icon-circle" (click)="modalDismiss()">
      <ion-icon name="home" style="color: white"></ion-icon>
    </div>
  </div>
  <div class="app-menu-layout">
    <div class="header-section"></div>
    <div class="content-section">
      <div class="viaje-badge">
        <p>{{'HOME.CONNECTIVITY' | translate}}</p>
      </div>
      <div class="info-container">
        <img
          src="../../../../assets/dashboard/icons/wifi.png"
          style="width: 70px; margin-left: 10px"
        />
      </div>
      <div class="scrollable-content">
        <ion-list *ngIf="!isLoading">
          <ion-item *ngFor="let connectivity of connectivities">
            <ion-label>
              <div style="display: flex; margin-bottom: 8px">
                <span
                  >{{ 'CONNECTIVITY.NETWORK' | translate | titlecase}}:</span
                >
                <span style="margin-left: 5px">{{ connectivity.ssid }}</span>
              </div>
              <div style="display: flex">
                <span
                  >{{ 'CONNECTIVITY.PASSWORD' | translate | titlecase}}:</span
                >
                <span style="margin-left: 5px"
                  >{{ connectivity.password }}</span
                >
                <div style="margin-left: 70px;"><p style="background: #878787; color: white; padding: 5px 15px; border-radius: 12px;">COPIAR</p></div>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="footer-section"></div>
  </div>

  <!-- Contenido real -->
  <!-- <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let connectivity of connectivities">
      <ion-label>
        <div style="display: flex; margin-bottom: 8px">
          <span>{{ 'CONNECTIVITY.NETWORK' | translate | titlecase}}:</span>
          <span style="margin-left: 5px">{{ connectivity.ssid }}</span>
        </div>
        <div style="display: flex">
          <span>{{ 'CONNECTIVITY.PASSWORD' | translate | titlecase}}:</span>
          <span style="margin-left: 5px">{{ connectivity.password }}</span>
        </div>
      </ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
