ion-card {
  --background: white;
  background: white;
  --box-shadow: none;
  box-shadow: none;
}

.skeleton-item {
  background: linear-gradient(90deg, #e1e1e1 25%, #f5f5f5 50%, #e1e1e1 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
  display: block;
}

.skeleton-image {
  width: 100%;
  height: 120px;
  margin-bottom: 0;
  border-radius: 4px 4px 0 0;
}

.skeleton-category {
  width: 70%;
  height: 16px;
  margin: 16px auto;
}

ion-content {
  font-family: "Arial", sans-serif;
}

.app-menu-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.menu-header {
  display: flex;
  padding-top: 15px;
  padding-right: 10px;
  justify-content: flex-end;
}

ion-icon {
  font-size: 24px;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
}

.header-section {
  height: 170px;
  min-height: 170px;
  max-height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;
  position: relative;
}

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
  padding: 0;
}

.viaje-badge {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    min-width: 100px;
    background: #878787;
    color: white;
    margin: 0;
    padding: 10px 16px;
    border-radius: 0 0 12px 12px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    max-width: 200px;
  }
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px 10px 10px;
  background: #ffffff;
}

.footer-section {
  height: 45px;
  min-height: 45px;
  max-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;
  position: relative;
}
