<ion-content [fullscreen]="true">
  <div class="menu-header">
    <div class="icon-circle" (click)="modalDismiss()">
      <ion-icon name="home" style="color: white"></ion-icon>
    </div>
  </div>
  <div class="app-menu-layout">
    <div class="header-section"></div>
    <div class="content-section">
      <div class="viaje-badge">
        <p>{{'HOME.RECOMMENDATIONS' | translate}}</p>
      </div>
      <div class="info-container">
        <img
          src="../../../../assets/dashboard/icons/wifi.png"
          style="width: 70px; margin-left: 10px"
        />
      </div>
      <div class="scrollable-content">
        <ion-grid *ngIf="!isLoading">
          <ion-row>
            <ion-col size="6" *ngFor="let category of categories">
              <ion-card>
                <ion-card-content
                  style="text-align: center"
                  (click)="openRecommendationByCategory(category)"
                >
                  <ion-img
                    [src]="getCategoryImage(category.id)"
                    [alt]="category.category"
                    style="height: 120px"
                  >
                  </ion-img>
                  <p style="font-weight: bold; font-size: 16px">
                    {{category.category}}
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  
  <!-- Contenido real -->
  <!--   <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="6" *ngFor="let category of categories">
        <ion-card>
          <ion-card-content
            style="text-align: center"
            (click)="openRecommendationByCategory(category)"
          >
            <ion-img
              [src]="getCategoryImage(category.id)"
              [alt]="category.category"
              style="height: 120px"
            >
            </ion-img>
            <p style="font-weight: bold; font-size: 16px">
              {{category.category}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
