@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/arial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextLTPro';
  src: url('../assets/fonts/DINNextLTPro-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextLTPro';
  src: url('../assets/fonts/DINNextLTPro-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextLTPro';
  src: url('../assets/fonts/DINNextLTPro-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextLTPro';
  src: url('../assets/fonts/DINNextLTPro-Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}