ion-content {
  --background: white;
  background: white;
}

ion-input.error,
ion-select.error {
  --color: var(--ion-color-danger);
  --border-color: var(--ion-color-danger);
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-style: none;
}

ion-button[disabled] {
  --opacity: 0.6;
}