<ion-content [fullscreen]="true">
  <div class="menu-header">
    <div class="icon-circle" (click)="modalDismiss()">
      <ion-icon name="home" style="color: white"></ion-icon>
    </div>
  </div>
  <div class="app-menu-layout">
    <div class="header-section"></div>
    <div class="content-section">
      <div class="viaje-badge">
        <p>{{'HOME.MAP' | translate}}</p>
      </div>
      <div class="info-container">
        <img
          src="../../../../assets/dashboard/icons/wifi.png"
          style="width: 70px; margin-left: 10px"
        />
      </div>
      <div class="scrollable-content">
        <div *ngIf="isLoading" class="map-skeleton">
          <div class="skeleton-map-container">
            <div class="skeleton-map-placeholder">
              <div class="skeleton-loading-animation">
                <ion-icon
                  name="location-outline"
                  class="skeleton-map-icon"
                ></ion-icon>
                <div class="skeleton-loading-dots">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!isLoading" class="map-container">
          <iframe
            [src]="mapUrl"
            class="google-map"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          >
          </iframe>
        </div>
      </div>
    </div>
    <div class="footer-section"></div>
  </div>
</ion-content>
