<ion-content [fullscreen]="true">
  <div class="menu-header">
    <div class="icon-circle" (click)="modalDismiss()">
      <ion-icon name="home" style="color: white"></ion-icon>
    </div>
  </div>

  <div class="app-menu-layout">
    <div class="header-section"></div>
    <div class="content-section">
      <div class="viaje-badge">
        <p>{{'HOME.CONNECTIVITY' | translate}}</p>
      </div>
      <div class="info-container">
        <img
          src="../../../../assets/dashboard/icons/wifi.png"
          style="width: 70px; margin-left: 10px"
        />
      </div>
      <div class="scrollable-content">
        <div *ngIf="!isLoading" class="map-container">
          <iframe
            [src]="mapUrl"
            class="google-map"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          >
          </iframe>
        </div>
      </div>
        <div class="footer-section"></div>
    </div>
  </div>

  <!-- Mapa embebido -->
</ion-content>
