.map-container {
  height: calc(100vh - 200px);
  width: 100%;
  position: relative;
}

.google-map {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  margin: 8px;
}

.map-actions {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-header {
  display: flex;
  padding-top: 15px;
  padding-right: 10px;
  justify-content: flex-end;
}

.app-menu-layout {
  display: flex;
  flex-direction: column;
  height: 100vh; // Altura completa de la viewport
  width: 100%;
  overflow: hidden; // Evitar scroll en el contenedor principal
}

.header-section {
  height: 170px;
  min-height: 170px;
  max-height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;
  position: relative;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
}

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
  padding: 0;
}

.viaje-badge {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    min-width: 100px;
    background: #878787;
    color: white;
    margin: 0;
    padding: 0px 16px;
    border-radius: 0 0 12px 12px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    min-width: 100px;
    max-width: 100px;
  }
}

.scrollable-content {
  flex: 1; // Toma todo el espacio disponible
  overflow-y: auto; // Permitir scroll vertical
  overflow-x: hidden; // Evitar scroll horizontal
  padding: 0 10px 10px 10px;
  background: #ffffff;
  height: 0; // Fuerza el flex a calcular la altura correctamente

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 3px;

    &:hover {
      background: #a8a8a8;
    }
  }
}

.footer-section {
  height: 45px;
  min-height: 45px;
  max-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 10;
  position: relative;
}

@media (max-width: 768px) {
  .map-container {
    height: calc(100vh - 180px);
  }
  
  .google-map {
    margin: 4px;
    border-radius: 4px;
  }
}