<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{'SPEAKERS.TITLE' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="modalDismiss()">
        <ion-icon slot="icon-only" name="close" color="white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Skeleton Loader -->
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="6" *ngFor="let item of [1,2,3,4,5,6]">
        <ion-card class="skeleton-card" style="text-align: center">
          <div class="skeleton-item skeleton-image"></div>
          <div class="skeleton-item skeleton-name"></div>
          <div class="skeleton-item skeleton-description"></div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Contenido real -->
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="6" *ngFor="let speaker of speakers">
        <ion-card
          style="text-align: center"
          (click)="openSpeakerDetail(speaker)"
        >
          <img
            style="width: 120px; height: 120px"
            [src]="speaker.image"
            [alt]="speaker.name"
          />
          <p style="font-weight: bold; font-size: 0.8rem">{{ speaker.name }}</p>
          <p
            style="
              font-size: 0.7rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 150px;
              font-weight: 400;
            "
          >
            {{ speaker.description }}
          </p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
